@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@600&family=Source+Sans+3:wght@700&display=swap");

.product-carousel {
  position: relative;
  overflow: hidden;
  /* height: 680px; */
  padding: 100px;
}

.product-container {
  /* padding: 0 10px; */
  display: flex;
  overflow-x: hidden;
  margin-top: 20px;
  scroll-behavior: smooth;
}

.product-title {
  font-size: 56px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  color: rgba(14, 35, 104, 1);
}

.pre-btn,
.next-btn {
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(66, 73, 97, 1);
  border-radius: 5px;
  cursor: pointer;
}
.pre-btn {
  left: 49%;
}
.next-btn {
  left: 52%;
}

.next-btn p,
.pre-btn p {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.436);
  color: rgb(0, 0, 0);
}

@media (max-width: 1280px) {
  .product-carousel {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 800px ;
  }

  .product-container {
    width: 100%;
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
  }

  .product-title {
    font-size: 38px;
    text-align: left;
    margin-left: 50px;
    font-family: "Poppins";
  }
  .pre-btn,
  .next-btn {
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 570px;
    position: absolute;
    top: 700px;
  }
  .next-btn {
    left: 620px;
  }
}

@media (max-width: 430px) {
  .product-carousel {
    padding: 0;
    margin: 0;
  }

  .product-container {
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
  }
  .product-title {
    font-size: 28px;
    text-align: center;
    font-family: "Poppins";
  }
  .pre-btn,
  .next-btn {
    width: 30px;
    height: 30px;
    bottom: 0;
    left: 170px;
  }
  .next-btn {
    left: 220px;
  }
}
